.name-logo.is-tall a {
  background: url(asset-path("logo_glyph.svg")) no-repeat;
  text-indent: unset;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  background-position: center 18px;
  background-size: 38px;
  text-align: center;
  line-height: 1.2;
  padding-top: 60px !important;
  padding-bottom: 14px !important;
  font-size: 1.1rem;

  @media (max-width: 768px) {
    background-position: center 8px;
    background-size: 26px;
    padding-top: 36px !important;
    font-size: 0.9rem;
  }
}

.main-content {
  padding-bottom: 0.25rem;
}

.top-bar .name-logo a span {
  font-size: inherit;
  line-height: inherit;
}

body[data-group="smc"] {
  .splash-header.bg-image {
    background-image: image-url("smc-banner.jpg");
  }
}

body[data-group="sj"] {
  .splash-header.bg-image {
    background-image: image-url("sj-banner.png");
  }

  .welcome-secondary-banner {
    display: none;
  }
}
